/* RadfishForm styles */
.radfish-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .radfish-form {
    width: 90%;
    margin: 10px auto;
  }
}

/* Radfish Search Form styles */

.radfish-search {
  float: right;
  max-width: calc(27ch) !important;
  justify-content: flex-end !important;
}

.radfish-search .usa-button {
  background-color: var(--noaa-light-blue);
  transition: background-color 0.3s;
}

.radfish-search .usa-button:hover {
  background-color: var(--noaa-button-hover);
}
