.radfish-button {
  transition: background-color 0.3s;
  background-color: var(--noaa-light-blue);
}

.radfish-button:hover {
  background-color: var(--noaa-button-hover);
}

.radfish-button:focus {
  outline: solid var(--noaa-light-blue) 2px !important;
}

.radfish-menu-btn {
  color: #005ea2;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  flex: 0 1 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #005ea2;
  color: #fff;
  font-size: 0.87rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--noaa-light-blue);
  transition: background-color 0.3s;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.radfish-menu-btn:hover {
  background-color: var(--noaa-button-hover);
}

.radfish-menu-btn:focus {
  outline: solid var(--noaa-light-blue) 2px;
}

@media (min-width: 1024px) {
  .radfish-menu-btn {
    display: none;
  }
}
