/* basic input */
.radfish-input,
.radfish-select {
  min-width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  border-radius: 0.25rem;
  border: solid var(--noaa-border-light) 2px;
  transition: border-color 0.3s;
  outline: none;
}

.radfish-input:focus,
.radfish-select:focus {
  outline: solid var(--noaa-light-blue) 2px;
}

/* radio input */
.radfish-radio {
  color: var(--noaa-text-color);
}

.radfish-radio .usa-radio__label::before {
  color: var(--noaa-text-color);
  box-shadow: 0 0 0 1px var(--noaa-border-dark);
}

.radfish-radio .usa-radio__input:checked + .usa-radio__label::before {
  background-color: var(--noaa-dark-blue);
  box-shadow: 0 0 0 2px var(--noaa-dark-blue);
}

.radfish-radio .usa-radio__input:checked:focus + .usa-radio__label::before {
  outline: solid var(--noaa-light-blue) 2px;
}

/* input label */
.radfish-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--noaa-label-color);
}

/* input error message */
.radfish-error-message {
  background-color: var(--noaa-yellow-one); /* light yellow background */
  border: 1px solid var(--noaa-yellow-two); /* slightly darker yellow border */
  color: var(--noaa-yellow-three); /* dark yellow text color, for better readability */
  padding: 0.75rem 1.25rem; /* some padding around the text */
  border-radius: 0.25rem; /* rounded corners */
  font-size: 0.875rem; /* smaller font size for the warning text */
  text-align: center; /* center the text */
}
