.usa-nav-container {
    align-items: center !important;
}

.usa-navbar {
    @media screen and (max-width: 1023px) {
        min-height: 90px !important;
    }
}

/* Minimum size for NOAA logo must be 72px (0.75 in) */
.header-logo {
    width: 72px;
}