#radfish-table-pagination-goto {
  width: 65px;
  margin: 0px 5px;
}

#radfish-table-pagination-select {
  width: 115px;
  margin: 0;
}

.radfish-table-row {
  cursor: pointer;
}

.radfish-table-header-cell {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.radfish-table-body-cell {
  background: transparent;
}
