/* Tooltip.css */

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #0054a4;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    flex-shrink: 0;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 125%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}
  