@import "~@trussworks/react-uswds/lib/index.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root,
html,
body {
  width: 100%;
}

.validation-message {
  background-color: #fff3cd; /* light yellow background */
  border: 1px solid #ffeeba; /* slightly darker yellow border */
  color: #856404; /* dark yellow text color, for better readability */
  padding: .75rem 1.25rem; /* some padding around the text */
  border-radius: .25rem; /* rounded corners */
  font-size: .875rem; /* smaller font size for the warning text */
  text-align: center; /* center the text */
  max-width: 50%;
}