:root {
  --noaa-nightwave-background: #002d47;
  --noaa-nightwave-text: #f4f4f4;
  --noaa-nightwave-accent: #0093d0;
  --noaa-nightwave-input-bg: #00467f;
  --noaa-nightwave-button: #0054a4;
  --noaa-nightwave-error: #af292e;
  --noaa-nightwave-hover: #26a3d7;
}

body {
  font-family:
    Arial Narrow,
    sans-serif;
  color: var(--noaa-nightwave-text);
  background-color: var(--noaa-nightwave-background);
  line-height: 1.6;
}

form {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: #01395e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  font-size: large;
  letter-spacing: 0.6px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--noaa-nightwave-input-bg);
  color: var(--noaa-nightwave-text);
  border: 1px solid var(--noaa-nightwave-accent);
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border-color: var(--noaa-nightwave-hover);
  outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder,
select::placeholder,
textarea::placeholder {
  color: white;
  opacity: 1;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  background-color: var(--noaa-nightwave-button);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--noaa-nightwave-hover);
}

.error-message {
  color: var(--noaa-nightwave-error);
  font-size: 14px;
}

@media (max-width: 768px) {
  form {
    width: 90%;
    margin: 10px auto;
  }
}
